
<div class="msg">
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#inbox">Inbox (<%= @received_messages.count %>)</a></li>
        <li class="tab col s3"><a href="#sent">Sent (<%= @sent_messages.count %>)</a></li>
      </ul>
    </div>

    <div id="inbox" class="col s12">
    	<% if @received_messages %>
			<% @received_messages.each do |message| %>
			<ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">mail_outline</i>From: <%= User.find_by(id: message.sender_id).username %> |
			      <div class="secondary-content">
			 	   <%= message.created_at.strftime('%D %I:%M %p') %>      
			 	
			 	  </div>|
			  </div>
		      <div class="collapsible-body">
		      	<span>
			      <%= message.content %>
			      <%= form_for :message, url: new_message_path, method: :get do |f| %>
					<%= f.hidden_field :match_id, value: message.match_id %>
					<%= f.hidden_field :receiver_id, value: message.sender_id %>
					<%= f.submit "Reply" %>
				  <% end %>

				  <%= button_to "Delete", delete_message_path(message), method: :delete %>
			
			     </span>
			   </div>
		    </li>
		    <%end%>
			</ul>
		<% end %>
  </div>


    <div id="sent" class="col s12">
    	<% if @sent_messages %>
			<% @sent_messages.each do |message| %>
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			    <div class="collapsible-header">
			    <i class="material-icons">mail_outline</i> Sent to: <%= User.find_by(id: message.receiver_id).username %> |
			    <div class="secondary-content">
			    <%= message.created_at.strftime('%D %I:%M %p') %></div>|</div>
				<div class="collapsible-body">
				<span>
					<%= message.content %>
					<%= button_to "Delete", delete_message_path(message), method: :delete %>
				</span>
				</div>
				</li>
		
			<% end %>
		<% end %>
	</ul>
 </div>
</div>



<script>
 $(document).ready(function(){
    $('ul.tabs').tabs('select_tab', 'tab_id');
  });
</script>
<script>
	$(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
